---
import Image from 'astro/components/Image.astro';
import { Icon } from 'astro-icon/components';
import { profiles } from '@assets/constants.astro';
import { works } from '@assets/constants.astro';
import man from '../assets/profile-man.png';
import cat from '../assets/work-cat.png';
import { techstack } from '@assets/constants.astro';
---

<div class="outer-container">
  <div class="profiles-container bg-slate-200 p-5 mt-12 rounded-md">
    <div>
      <Image src={man} alt={'制作者'} class="w-48 rounded-full" />
    </div>
    <div class="text-container">
      <h3 class="font-semibold text-lg mb-3">担当エンジニアのプロフィール</h3>
      <div class="profiles">
        {
          profiles.map((profile) => (
            <>
              <p class="year mr-2">{profile.year}</p>
              <p class="job">{profile.job}</p>
            </>
          ))
        }
      </div>
    </div>
  </div>
</div>

<div class="outer-container">
  <div class="works-container bg-slate-200 p-5 mt-12 rounded-md">
    <div class="text-container">
      <h3 class="font-semibold text-lg mb-3">これまでのお仕事</h3>

      {
        works.map((work) => (
          <div>
            <p class="works">{work.title}</p>
            <p class="comment">{work.comment}</p>
          </div>
        ))
      }
    </div>
    <div>
      <Image src={cat} alt={'実績を見る猫'} />
    </div>
  </div>
</div>

<div class="outer-container">
  <div class="tech-stack-container bg-slate-200 p-5 mt-12 rounded-md">
    <div class="text-container">
      <h3 class="font-semibold text-lg mb-3">猫髭工房の採用技術</h3>
      <div class="tech-stack">
        {
          techstack.map((item) => (
            <>
              <Icon class="size-6 md:size-8 text-zinc-600" name={item.logo} />
              <p class="job">{item.title}</p>
              <p>{item.comment}</p>
            </>
          ))
        }
      </div>
      <p class="mt-3">
        上記フレームワーク、ライブラリなどを公開頂いている全ての方々に感謝いたします
      </p>
    </div>
  </div>
</div>

  <style>
    .outer-container {
      display: grid;
    }
    .profiles-container {
      @media (min-width: 768px) {
        width: 70%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 150px 1fr;
        gap: 20px;
        justify-self: start;

        .profiles {
          @media (min-width: 768px) {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 4px;
          }
        }

        .year {
          grid-column: 1 / 2;
        }

        .job {
          grid-column: 2 / 3;
        }
      }
    }
    /* .profiles {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 4px;
    }
  }

  .year {
    grid-column: 1 / 2;
  }

  .job {
    grid-column: 2 / 3;
  } */

    .works-container {
      @media (min-width: 768px) {
        width: 70%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 150px;
        gap: 20px;
        justify-self: end;
      }

      /* .year {
      grid-column: 1 / 2;
    }

    .job {
      grid-column: 2 / 3;
    } */
    }

    .tech-stack-container {
      @media (min-width: 768px) {
        width: 70%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-self: start;
      }

      .tech-stack {
        @media (min-width: 768px) {
          display: grid;
          grid-template-columns: 30px auto 1fr;
          grid-gap: 10px;
        }
      }

      /* .year {
      grid-column: 1 / 2;
    }

    .job {
      grid-column: 2 / 3;
    } */
    }
  </style>
</div>
